.toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;
  margin-left: auto;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid #bbbbbb;
  transition: 0.4s;
  border-radius: 60px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 8.5px;
  width: 8.5px;
  left: 2px;
  bottom: 2px;
  background-color: #60c689;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle input:checked + .slider {
  background-color: #60c689;
  border: 1px solid transparent;
}

.toggle input:checked + .slider:before {
  transform: translateX(22px);
  background-color: white;
}
